*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Bradley Hand, cursive;
}

.contactt{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(../lo.jpg);
    background-position: center;
    background-size: cover;
}

.condiv{
    max-width: 800px;
    text-align: center;
}

.conh1{
    font-size: 80px;
    color: rgb(0, 0, 0);
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 39px;
}

.contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.box{
    position:relative;
    padding: 20px;
    display: flex;
}

.icon{
    min-width: 60px;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #000000;
    flex-direction: column;
    font-weight: 300;
}

.conh3{
    font-weight: 500;
    color: aqua;
}

.conform{
    width: 40%;
    padding: 40px;
    background: #fff;
}

.confh2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.inputbx{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.inputbx input{
    width: 100%;
    padding: 10px 0px;
    padding-left: 5px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    border-radius: 30px;

}

.inputbx textarea{
    width: 100%;
    padding: 15px 0px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    border-radius: 30px;
    padding-left: 5px;

}

.conp{
    color: rgb(0, 0, 0);

}


.co{
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 10px;
}

.contactdiv{
    width: 100%;
    height: 100vh;
    background-color: black;
}

.consp{
    color: black;
}

.co:hover{
    background-color: rgb(3, 80, 90);
}


.conform:hover{
    background-color: rgb(90, 100, 100);
}

.conform{
    border: 1px;
    border-radius: 50px;
}