*{
    padding: 0;
    margin: 0;
    font-family:  Bradley Hand, cursive;
    box-sizing: border-box;
}

.msgdiv1{
    height: 100vh;
    width: 100%;
}

.masseges{
    color: darkcyan;
    text-align: center;
    margin-top: 20px;
}

.msg{
    text-align: center;
    margin-top: 100px;
    background-image: url(../5.jpg);
}

.usernm{
    color: crimson;
}

.msgu{
    color: yellow;
}

body{
    background-size: cover;
    background-position: center;
    background-image: url(../5.jpg);
}